/lib/
/bin/
/.shards/
/runtime/build/
*.dwarf
*.myc
!/tests/goldens/
!/tests/goldens/**/*.myc
*.o

# experiments
/experiments/

# lang arena
/langarena/
/results/

# local markdown files
*.md
!README.md
