/lib/
/bin/
/.shards/
/runtime/build/
*.dwarf
*.myc
!/tests/goldens/
!/tests/goldens/**/*.myc
*.o

/junit.xml
/lcov.info
/coverage.map
/coverage.map.hits

# experiments
/experiments/

# lang arena
/langarena/
/results/

# local markdown files
*.md
!README.md
